    <div class="footer-cant">
        <div class="footer-col">
            <div class="footer-tag">
                @chat-2-mate
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-tag">
                @chat-2-mate
            </div>
            <div class="footer-tag">
                @chat-2-mate
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-tag">
                @chat-2-mate
            </div>
            <div class="footer-tag">
                @chat-2-mate
            </div>
            <div class="footer-tag">
                @chat-2-mate
            </div>
        </div>
    </div>

</body>
</html>